* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background:  black url("../image/banner1.jpg") top no-repeat;
    height: 40vh;
    min-height: 100px;
    background-size: 550px;
    background-attachment: fixed;
}

nav, footer, .section4 div{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav, footer{
    background-color: #333;
}

#flex-align-right {
    margin-left: auto;
  }

a{
    text-decoration: none;
}

nav a {
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

.buttons:hover{
    color: darkgray;
    font-weight: bold;
    font-size:larger;
    background-color: black;
}

.section1 h2 span{
    background-color: rgb(199, 134, 87);
    border-radius: 30px;
    padding: 15px 30px;
    color:white;
}

#founder{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.section4 a{
    background-color: gray;
    padding: 10px 10px;
    margin: 5px 10px;
    letter-spacing: 3px;
}

h3 b{
    text-decoration: underline;
    font-weight: bolder;
    font-size:larger;
    color: blue;
}

img[src="image/aman_dhattarwal.jpg"]{
    border-radius: 50%;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.section,.section2 {
    min-height: 100vh;
    
}

#info{
    padding: 10px 70px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

#ythandle{
    color:red;
}

#inhandle{
    color:blue;
}

#ighandle{
    color:purple;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel-cell video{
    width: 80%;
}

.carousel-cell img{
    width: 70%;
}

.carousel-cell iframe{
    width: 95%;
}

@media only screen and (max-width: 650px) {
    nav,footer, .section4 div{
      flex-direction: column;
    }
    #flex-align-right{
        margin-left: 0;
    }
  }